# Renombra este archivo a .env y completa con tus credenciales
EUTAXIA_EMAIL="fernandaxxxxx@gmail.com"
# EUTAXIA_EMAIL="AdminIPSJAJAJAJA"
EUTAXIA_PASSWORD="IpssoftSicilia2019xxxx"
PHONE_NUMBER =74440470  # Debe ser un celular existente

SECOND_EUTAXIA_EMAIL="maria.isabel2.0@gmail.com"
SECOND_EUTAXIA_PASSWORD="IpssoftSicilia2019!"

BASE_URL="https://test.rbiu.org"
# BASE_URL="https://eutaxia.rbiu.org"
CI=2